<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net461" />
  <package id="Microsoft.Azure.KeyVault" version="2.4.0-preview" targetFramework="net461" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Azure.KeyVault.WebKey" version="2.1.0-preview" targetFramework="net461" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Redis" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.1" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.10" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.10" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Management.AlwaysEncrypted.AzureKeyVaultProvider" version="2.1.0" targetFramework="net461" />
  <package id="Nethereum.ABI" version="2.2.3" targetFramework="net461" />
  <package id="Nethereum.Contracts" version="2.2.3" targetFramework="net461" />
  <package id="Nethereum.Hex" version="2.2.3" targetFramework="net461" />
  <package id="Nethereum.JsonRpc.Client" version="2.2.3" targetFramework="net461" />
  <package id="Nethereum.JsonRpc.RpcClient" version="2.2.3" targetFramework="net461" />
  <package id="Nethereum.KeyStore" version="2.2.3" targetFramework="net461" />
  <package id="Nethereum.RLP" version="2.2.3" targetFramework="net461" />
  <package id="Nethereum.RPC" version="2.2.3" targetFramework="net461" />
  <package id="Nethereum.Signer" version="2.2.3" targetFramework="net461" />
  <package id="Nethereum.Util" version="2.2.3" targetFramework="net461" />
  <package id="Nethereum.Web3" version="2.2.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="RabbitMQ.Client" version="5.1.0-pre2" targetFramework="net461" />
  <package id="StackExchange.Redis.StrongName" version="1.2.4" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.4.2" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net461" />
  <package id="WindowsAzure.Storage" version="9.0.0" targetFramework="net461" />
</packages>