<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="applicationId" value=""/>
    <add key="applicationSecret" value=""/>
    <add key="rabbitMqUri" value="place holder"/>
    <add key="AzureStorageConnectionString" value=""/>
    <add key="AzureKeyVaultUri" value=""/>
    <add key="EthereumNodeUrl" value=""/>
    <add key="EncryptionKeyName" value=""/>
    <add key="DecryptionKeyName" value=""/>
    <add key="SignKeyName" value=""/>
    <add key="VerifyKeyName" value=""/>
    <add key="SqlUserID" value=""/>
    <add key="SqlPassword" value=""/>
    <add key="SqlInitialCatalog" value=""/>
    <add key="SqlDataSource" value=""/>
  </appSettings>
</configuration>